{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "style.css" %}">
{% endblock head %}

{% block body %}
<div class="heading-container">
    <div class="heading">
        <h1>
            Event Timer
        </h1>
    </div>
</div>

<a href="{% url 'create_view' %}">Add Event</a>

<h2>List of Events</h2>

<h3>Upcoming Events</h3>
<table class="event-list">
    <tr>
        <th>Event Name</th>
        <th>Days remaining</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for event in upcoming_event_list %}
    <tr>
        <td>
            <a href="{% url 'timer_view' event_pk=event.id %}">
            {{ event.name }}
            </a>
        </td>
        <td>{{ event.rem_time }} days remaining</td>
        <td><a href="{% url 'update_view' event_pk=event.id %}">Edit</a></td>
        <td><a href="{% url 'delete_view' event_pk=event.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<h3>Completed Events</h3>
<table class="event-list">
    <tr>
        <th>Event Name</th>
        <th>Days ago</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for event in completed_event_list %}
    <tr>
        <td>
            <a href="{% url 'timer_view' event_pk=event.id %}">
            {{ event.name }}
            </a>
        </td>
        <td>{{ event.rem_time }} days ago</td>
        <td><a href="{% url 'update_view' event_pk=event.id %}">Edit</a></td>
        <td><a href="{% url 'delete_view' event_pk=event.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}
