{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "style.css" %}">
{% endblock head %}

{% block body %}
<div class="heading-container">
    <div class="heading">
        <h1>
            Event Timer
        </h1>
    </div>
</div>
<div class="timer-container">
    <h1 class="title">
        Time
        {% if event.is_expired %}
            after 
        {% else %}
            until
        {% endif %}
            - {{ event.name }}
    </h1>
    <div class="timer">
        <div class="timer-block" id="days">
            12
        </div>
        <div class="timer-block" id="hours">
            12
        </div>
        <div class="timer-block" id="minutes">
            12
        </div>
        <div class="timer-block" id="seconds">
            12
        </div>
        <div class="timer-label">
            days
        </div>
        <div class="timer-label">
            hours
        </div>
        <div class="timer-label">
            minutes
        </div>
        <div class="timer-label">
            seconds
        </div>
    </div>
    <div class="time" id="time">
        {{ event.date | date:"M j, Y H:i:s" }}
        {% comment %}{{ event.date }}{% endcomment %}
    </div>
</div>

<div class="return-container">
    <a href="{% url 'index_view' %}" class="return">
        Return
    </a>
</div>

<script src="{% static "timer.js" %}"></script>
{% endblock body %}
